*{
	margin: 0;
	padding: 0;
}

.a-about{
	padding: 0;
	margin: 10px 0;
}

.a-about a{
	color: #1e73be;
	font-size: 16px;
}

.a-about i{
	color: #4d4d4d;
	font-size: 18px;
	font-weight: 600;
	margin: 0 3px;
}

.about{
	padding: 0;
	margin: 10px 0;
}

.about h2{
	font-size: 25px;
	color: #fc3400;
	margin: 15px 0;
	font-weight: 600;
}

.about h3{
	font-size: 20px;
	color: #1e73be;
	margin: 25px 0 15px 0;
	font-weight: 600;
}

.about p{
	font-size: 16px;
	color: #4d4d4d;
	text-align: justify;
	padding: 0;
	margin-bottom: 15px;
}

.about p span{
	font-size: 17px;
	font-weight: 600;
	color: #000;
}

.about .img{
	text-align: center;
	margin: 0;
	padding: 50px 0;
	border-top: 1px solid #ccc;
}

.about img{
	width: 50%;
	margin: 0;
	padding: 0;
}

.b-about{
	margin: 10px 0;
	padding: 0;
}

.b-about img{
	width: 100%;
	margin: 10px 0;
}

.scroll{
	padding: 0;
	margin: 20px 0;
	width: 100%;
}

.scroll h2{
	font-size: 22px;
	color: #0033ff;
	margin-bottom: 20px;
}

.scroll .fun {
  border: none;
  padding: 2px;
  width: 100%;
  height: 300px;
  overflow: scroll;
  outline: none;
}

.scroll .fun a{
	margin: 3px;
	font-size: 16px;
	color: #0033ff;
}

.about .popup-gallery{
	margin: 15px 0;
	padding: 0;
}

.about .popup-gallery img{
	height: 250px;
	width: 250px;
	margin: 10px;
}